.element__selectField--default {
  width: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  width: -moz-available;
  /* WebKit-based browsers will ignore this. */
  width: stretch;
}
