.App {
  background-color: #282c34;

  font-size: max(calc(1.25vw), 1rem);
  color: white;
  text-align: left;
  min-height: 100vh;
  width: 100%;
}

.section__textAlignEnd {
  text-align: end;
}
.section__textAlignCenter {
  text-align: center;
}
.section__textAlignStart {
  text-align: start;
}
.section__characterTop {
  width: 100%;
  justify-content: flex-start !important;
}

.block__characterTop--margin {
  margin-left: 1vw;
}

.section__navbar {
  margin-top: 3vh;
  margin-left: .5vw;
  max-width: 8vw;
}
.section__body {
  width:100%
}

.center {
  float: right;
  width: 70%;
}

.App__row {
  min-height: 0vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App__column {
  display: flex;
  flex-direction: column;
  /* margin-left: 100px; */
  align-items: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
