.body__textarea {
    width: 746px;
    margin: 0px;
    height: 221px;
}

.section__mainBody {
    display:flex;
    justify-content: center;
    width: 100%;
}

.section__mainBody--row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start !important;
}

.section__mainBody--col {
    display: flex;
    flex-direction: row;
    justify-content: flex-start !important;
}