.App {
  text-align: left;
  width: 100%;
}

.left {
  /* width: 164px; */
  text-align: end;
  flex-shrink: 0;
  z-index: 1000;
  box-sizing: border-box;
}
.item {
  flex-grow: 1;
}

.center{
  float:right;
  width:70%
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


